@tailwind base;
@tailwind components;
@tailwind utilities;






@media screen and (max-width : 1400px) {
  .block1{
    display: none;
  }
}

@media screen and (max-width : 1170px) {
  .block2{
    display: none;
  }
}

@media screen and (max-width : 950px) {
  .block3{
    display: none;
  }
}

@media screen and (max-width : 650px) {
  .block4{
    display: none;
  }
}
@media screen and (max-width : 1530px) {
  .photo{
    height: 4rem;
    width: 4rem;
  }
}
@media screen and (max-width : 1265px) {
  .photo{
    height: 3.1rem;
    width: 3.1rem;
  }
}
